@model IEnumerable<IceCreamClient.Models.Recipe>
@{
    ViewData["Title"] = "Home Page";
}

    <!--Page Title-->
    <section class="page-title centred" style="background-image: url(assets/images/background/page-title.jpg);">
        <div class="auto-container">
            <div class="content-box">
                <div class="title">
                    <h1>Recipe</h1>
                </div>
                <ul class="bread-crumb clearfix">
                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li>Recipe</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    <!-- news-section -->
    <section class="news-section sec-pad-2 blog-grid">
        <div class="auto-container">
            <div class="row clearfix">
                @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <span class="category">Ice Cream</span>
                                <a asp-action="Details" asp-route-RecipeId="@item.RecipeId"><img src="~/images/recipe/@item.Thumbnail" style="height: 220px; width: auto;"></a>
                            </figure>
                            <div class="lower-content">
                                <ul class="post-info clearfix">
                                    <li><a asp-action="Details" asp-route-RecipeId="@item.RecipeId">@item.CreatedBy</a></li>
                                </ul>
                                <h3><a asp-action="Details" asp-route-RecipeId="@item.RecipeId">@item.Title</a></h3>
                                <p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">@item.Description</p>
                                <div class="btn-box"><a asp-action="Details" asp-route-RecipeId="@item.RecipeId" class="theme-btn-two">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            }            
            </div>
            <div class="pagination-wrapper centred">
                <ul class="pagination">
                    <li><a href="blog-grid.html">Prev</a></li>
                    <li><a href="blog-grid.html" class="active">1</a></li>
                    <li><a href="blog-grid.html">2</a></li>
                    <li><a href="blog-grid.html">3</a></li>
                    <li><a href="blog-grid.html">4</a></li>
                    <li><a href="blog-grid.html">5</a></li>
                    <li><a href="blog-grid.html">Next</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- news-section end -->

